<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Gazebo Sim IMU Plugin -->
  <xacro:macro name="livox_imu_plugin" params="name">

    <gazebo reference="${name}_link">

      <sensor name="${name}_imu" type="imu">
        <always_on>true</always_on>
        <update_rate>200</update_rate>
        <visualize>true</visualize>

        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0002</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0002</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0002</stddev>
              </noise>
            </z>
          </angular_velocity>

          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.017</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.017</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.017</stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>

        <!-- Gazebo Sim IMU system plugin -->
        <plugin
          filename="libgz-sim-imu-system.so"
          name="gz::sim::systems::Imu"/>

      </sensor>

    </gazebo>

  </xacro:macro>

</robot>
