<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- From MCLA015B spec -->
    <xacro:property name="track_weight"  value="1" />
    <xacro:property name="track_width"  value="0.08" />
    <xacro:property name="track_length"   value="0.866" />
    <xacro:property name="track_height"  value="0.271" />
    <xacro:macro name="track" params="
        name
        parent
        xyz
        rpy">

        <!-- Joint -->
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}_link"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>

        <!-- Link -->
        <link name="${name}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
                <geometry>
                    <mesh filename="package://msd700_robot_description/meshes/left_track.dae"
                        scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="${track_length/2-0.13} 0 0.01" rpy="0 0 0"/>
                <geometry>
                    <box size="${track_length} ${track_width} ${track_height}"/>
                </geometry>
            </collision>
            <!-- <inertial>
                <mass value="${track_weight}"/>  
                <origin xyz="0 0 0.1" rpy="0 0 0"/>
                <inertia    
                    ixx="${(track_weight/12)*(track_width*track_width + track_height*track_height)}"   ixy="0.0" ixz="0.0" 
                    iyy="${(track_weight/12)*(track_length*track_length + track_height*track_height)}" iyz="0.0" 
                    izz="${(track_weight/12)*(track_length*track_length + track_width*track_width)}"/>            
            </inertial> -->
        </link>
    </xacro:macro>
</robot>
